
*:before,
*:after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    position: relative;
    width:100%;
    min-height: 100vh;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 5rem;

  }


.contenedor1 {
  width: 800px;
  height:250px;
  background: #346751;
  color: #F6F7D7;
  padding: 25px;
  border-radius: 10px;

}

h4 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

.form {
  position:relative;
  width: 100%;
  margin: 2rem 0;
}

input {
  width: 100%;
  background: #351F39;
  opacity: 60%;
  border: none;
  outline: none;
  padding:15px 145px 15px 12px;
  border-radius: 15px;
  color: #04322E;
  font-size: 1.2rem;
}

button {
  position: absolute;
  padding: 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #F6F7D7;
  border:none;
  outline:none;
  background: #519872;
  right: 3px;
  top:3px;
  cursor: pointer;
}


.namebox {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  position:relative;
  background: #FF165D;
  text-align: center;
  color: #F6F7D7;
  border-radius: 10px;
  padding: 12px;
}

.genera {
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .3px;
}
