*:before,
*:after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
  position: relative;
  width:100%;
  min-height: 100vh;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 5rem;

}

#wordbox {
  width: 100%;
  background: #351F39;
  border: none;
  outline: none;
  padding:15px 145px 15px 12px;
  border-radius: 15px;
  color: #FAFAFA;
  font-size: 1.2rem;
}

.contenedor1 {
  width: 800px;
  height:250px;
  background: #346751;
  color: #F6F7D7;
  padding: 25px;
  border-radius: 10px;

}


h4 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

form {
  position:relative;
  /* width: 100%; */
  margin: 2rem 0;
}


#button {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  background: #FF165D;
  text-align: center;
  color: #F6F7D7;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}
