*:before,
*:after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
  width:100%;
  min-height: 100vh;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 5rem;

}

#wordbox {
  width: 100%;
  height:5rem;
  background: #351F39;
  border: none;
  outline: none;
  padding:0px 0px 0px 12px;
  border-radius: 15px;
  color: #FAFAFA;
  font-size: 1.2rem;
  text-align:center;
  
}

.contenedor1 {
  width: 1000px;
  height:250px;
  background: #346751;
  color: #F6F7D7;
  padding: 25px;
  border-radius: 10px;

}


h4 {
  font-weight: bold;
  font-size: 2rem;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  margin-bottom:20px;
}


#button {
  font-family: 'Archivo Narrow', sans-serif;
  font-size:20px;
  font-weight: bolder;
  background: #FF165D;
  text-align: center;
  color: #F6F7D7;
  width:100%;
  border-radius: 10px;
  padding: 12px;
  margin-top:15px;
  cursor: pointer;
  letter-spacing:.5rem;
}

footer {
border-radius: 10px;
text-align: center;
margin-top: 10%;
font-family: 'Archivo Narrow', sans-serif;
color: #FF165D;
}

p {
  margin-top:3%;
  font-weight:bolder;
}
a {
  padding-top: 5px;
  text-decoration:none;
  font-family: 'Poppins', sans-serif;
  color: #F6F7D7;
  text-decoration:none;
  font-weight:bolder;
}

/* @media only screen and (max-width:600px) {
  #wordbox {
    overflow-wrap: break-word;
    hyphens: manual;
}
} */